<% unless @ticket.notes.empty? %>
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-primary">
<div class="panel-heading" style="width:100%">
<h3> Notes </h3>
</div>
<div class="panel-body" style="width:100%">
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Content</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.user.netid %></td>
        <td><%= note.categorization %></td>
        <td><%= note.content %></td>
        <td><%= note.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
<% end %>

